body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px;
    background-color: rgb(77, 67, 78);
}

.container {
    margin: 0;
    width: 600px;
    height: 600px;
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    background-color: rgb(110, 110, 110);
    align-items: stretch;
}

.square {
    border: 1px dotted rgb(155, 155, 155);
    margin: 0;
    transition: .25s;
}

button {
    align-self: center;
    width: 100px;
    border-radius: 0px;
}

.buttons {
    display: flex;
    gap: 50px;
}